[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cmake = "*"
eve = "*"
flask = "*"
flask-cors = "*"
h5py = "*"
numpy = "*"
requests = "*"
scipy = "*"
sklearn = "*"
uwsgi = "*"
matplotlib = "*"
fa2 = "*"
networkx = "*"
python-louvain = "*"
urllib3 = "*"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"
coverage = "*"
pytest-cov = "*"
codecov = "*"

[env]
LC_ALL = "en_US.UTF-8"
LANG = "en_US.UTF-8"

[requires]
python_version = "3.6"

[scripts]
ci_test = "pytest --junitxml=dist/test-reports/junit.xml --disable-warnings --cov=src --cov-report xml:dist/cov.xml"
cron_job = "python utils/bioblocks_server_cron_job.py"
dry_cron_job = "python utils/bioblocks_server_cron_job.py --dry-run=True"
lint = "flake8 ."
start = "python src/wsgi.py"
test = "python -m pytest --disable-warnings --cov=src --cov-report xml:dist/cov.xml"
